/*
    Document   : tankopedia
    Created on : 24-Mar-2013, 12:20:15
    Author     : touristtam
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}
div.panel {
    border: #cdcabf 1px solid;
    background-color: #f7f6f4;
    margin-right: 0%;
    margin-top: 12px;
    margin-bottom: 12px;
    overflow-x: auto;
    clear: left;
    padding: 5px 6px 5px;
    border-radius: 12px;
}
div.frame {
    position: relative;
    display: block;
}
div.header {
    color: #837365;
    margin: 0px 0px 8px 0px;
    padding: 5px;
    font-size: 125%;
    font-weight: 700;
}
div.content {
    border-top-color: #b2a79a;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 6px;
}
ul.block-list {
    list-style: none;
    margin: 0;
    padding: 0;
    /*font: 11px Arial, Helvetica, Geneva, sans-serif;*/
}
div.block-list-item {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    display: block;
    width: 160px;
    height: 100px;
    border: 1px solid #b2a79a;
    border-radius: 8px;
    padding: 3px 5px;
    text-align: center;
}
