{% extends '::base.html.twig' %}

{% block body %}
<div class="span12">
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/imbctankopedia/css/tankopedia.css') }}" type="text/css" />
{% endblock %}