{% extends 'ImbcTankopediaBundle::_layout.html.twig' %}

{% block body -%}

{% if edit == true %}
    <h1>Editing existing Nationality</h1>
{% else %}
    <h1>New Nationality</h1>
{% endif %}
<form class="form-horizontal" method="POST" action="">
    <div class="form-horizontal">
        <div class="control-group">
            <div class="control-label">
                {{ form_label( nationality.abreviation ) }}
            </div>
            <div class="controls">
                {{ form_widget( nationality.abreviation ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( nationality.name ) }}
            </div>
            <div class="controls">
                {{ form_widget( nationality.name ) }}
            </div>
        </div>
    </div>
    <div class="btn-group">
        <a type="submit" class="btn btn-mini">
            <i class="icon-ok"></i> Save Form
        </a>
    </div>
</form>
{% endblock %}
